
<div class="center jumbotron">
  <h1>ALPHA BLOG</h1>
  <%= link_to 'Sign up now', signup_path, class: "btn btn-warning btn-xlarge"%>
</div>


<!--
<%= link_to image_tag('spongebob.jpeg'), 'https://en.wikipedia.org/wiki/SpongeBob_SquarePants' %>
-->