<h1>Alpha-blog Home</h1>

<%= link_to 'Blog', articles_path%> | <%= link_to 'About', about_path%>
<!--
<%= link_to image_tag('spongebob.jpeg'), 'https://en.wikipedia.org/wiki/SpongeBob_SquarePants' %>
-->