<h1 class="page-title">Listing all categories</h1><div align="center" class="col-sm-12">
  <%= will_paginate %>
</div><div class="well col-sm-6 col-sm-offset-3">	<% @categories.each do |category| %>		<ul class="category-ul">			<li class="article-title row">				<div class="col-sm-6">
				  <%= link_to "#{category.name}", category_path(category)%>
				</div>				<div class="col-sm-6" align="center">					<small>						<%= pluralize(category.articles.count, "article") if category.articles %>					</small>
				</div>			</li>		</ul>  	<% end %>
</div><div align="center" class="col-sm-12">  <%= will_paginate %></div>